.instructions-container.keyboard-shortcuts {
    --moveDistX1: 0;
    --moveDistX2: 0;
    --moveDistX3: 0;
    --moveDistY1: 0;
    --moveDistY2: 0;
    --moveDistY3: 0;
}

@keyframes keyboard-mouse-movement {

    /* 0.00s */
    0.00% {
        transform: translate(0, 0) scale(1);
    }

    /* 1.50s -> 1.70s: rest b4 clicking */
    9.80%,
    11.11% {
        transform: translate(calc(var(--moveDistX1) * -1px), calc(var(--moveDistY1) * -1px)) scale(1);
    }

    /* 1.80s: click on middle note */
    11.76% {
        transform: translate(calc(var(--moveDistX1) * -1px), calc(var(--moveDistY1) * -1px)) scale(0.6);
    }

    /* 1.90s -> 2.30s: release middle note + wait for A to be clicked */
    12.42%,
    15.03% {
        transform: translate(calc(var(--moveDistX1) * -1px), calc(var(--moveDistY1) * -1px)) scale(1);
    }

    /* 3.00s -> 3.20s: move over to left note and rest for a sec */
    19.61%,
    20.92% {
        transform: translate(calc(var(--moveDistX2) * -1px), calc(var(--moveDistY2) * -1px)) scale(1);
    }

    /* 3.30s: click down on left note */
    21.57% {
        transform: translate(calc(var(--moveDistX2) * -1px), calc(var(--moveDistY2) * -1px)) scale(0.6);
    }

    /* 3.40s -> 3.80s: click release + wait for backspace to be clicked */
    22.22%,
    24.84% {
        transform: translate(calc(var(--moveDistX2) * -1px), calc(var(--moveDistY2) * -1px)) scale(1);
    }

    /* 4.50s -> 4.70s: back at the middle note */
    29.41%,
    30.72% {
        transform: translate(calc(var(--moveDistX1) * -1px), calc(var(--moveDistY1) * -1px)) scale(1);
    }

    /* 4.90s: select middle note again */
    32.03% {
        transform: translate(calc(var(--moveDistX1) * -1px), calc(var(--moveDistY1) * -1px)) scale(0.6);
    }

    /* 5.00s -> 5.40s: release click + wait 4 D to be pressed */
    32.68%,
    35.29% {
        transform: translate(calc(var(--moveDistX1) * -1px), calc(var(--moveDistY1) * -1px)) scale(1);
    }

    /* 6.var(--animDur) -> 6.30s: go over to right note and wait 4 a sec */
    39.87%,
    41.18% {
        transform: translate(calc(var(--moveDistX3) * -1px), calc(var(--moveDistY3) * -1px)) scale(1);
    }

    /* 6.40s: click right note */
    41.83% {
        transform: translate(calc(var(--moveDistX3) * -1px), calc(var(--moveDistY3) * -1px)) scale(0.6);
    }

    /* 6.50s -> 6.90s: wait for backspace to be pressed */
    42.48%,
    45.10% {
        transform: translate(calc(var(--moveDistX3) * -1px), calc(var(--moveDistY3) * -1px)) scale(1);
    }

    /* 7.50s -> 7.70s: move back to middle note */
    49.02%,
    50.33% {
        transform: translate(calc(var(--moveDistX1) * -1px), calc(var(--moveDistY1) * -1px)) scale(1);
    }

    /* 7.80s: click */
    50.98% {
        transform: translate(calc(var(--moveDistX1) * -1px), calc(var(--moveDistY1) * -1px)) scale(0.6);
    }

    /* 7.90s -> 13.60s: release click + wait for all the other actions to execute */
    51.63%,
    88.89% {
        transform: translate(calc(var(--moveDistX1) * -1px), calc(var(--moveDistY1) * -1px)) scale(1);
    }

    /* 15.var(--animDur) -> 15.30s: move back to starting pos + wait a sec b4 starting a new cycle */
    98.69%,
    100.00% {
        transform: translate(0, 0) scale(1);
    }
}

.instructions-container.keyboard-shortcuts .cursor {
    animation: keyboard-mouse-movement var(--animDur) ease-in-out infinite;
}

@keyframes a-key-anim {

    /* 0.00s -> 1.90s */
    0.00%,
    12.42% {
        scale: 1;
    }

    /* 2.var(--animDur) */
    13.73% {
        scale: 0.6;
    }

    /* 2.30s */
    15.03%,
    100% {
        scale: 1
    }
}

.instructions-container.keyboard-shortcuts .key.A {
    animation: a-key-anim var(--animDur) ease-in-out infinite;
}

@keyframes d-key-anim {

    /* 0.00s -> 5.00s */
    0.00%,
    32.68% {
        scale: 1;
    }

    /* 5.20s */
    33.99% {
        scale: 0.6;
    }

    /* 5.40s -> 100% */
    35.29%,
    100% {
        scale: 1
    }
}

.instructions-container.keyboard-shortcuts .key.D {
    animation: d-key-anim var(--animDur) ease-in-out infinite;
}

@keyframes backspace-key-anim {

    /* 0.00s -> 3.40s */
    0.00%,
    22.22% {
        scale: 1;
    }

    /* 3.60s */
    23.53% {
        scale: 0.6;
    }

    /* 3.80s -> 6.50s */
    24.84%,
    42.48% {
        scale: 1;
    }

    /* 6.70s */
    43.79% {
        scale: 0.6;
    }

    /* 6.90s -> 100% */
    45.10%,
    100% {
        scale: 1;
    }
}

.instructions-container.keyboard-shortcuts .key.backspace {
    animation: backspace-key-anim var(--animDur) ease-in-out infinite
}

@keyframes w-key-anim {

    /* 0.00s -> 7.90s */
    0.00%,
    51.63% {
        scale: 1;
    }

    /* 8.var(--animDur) */
    52.94% {
        scale: 0.6;
    }

    /* 8.30s -> 8.50s */
    54.25%,
    55.56% {
        scale: 1;
    }

    /* 8.70s */
    56.86% {
        scale: 0.6;
    }

    /* 8.90s -> 100% */
    58.17%,
    100% {
        scale: 1;
    }
}

.instructions-container.keyboard-shortcuts .key.W {
    animation: w-key-anim var(--animDur) ease-in-out infinite;
}

@keyframes s-key-anim {

    /* 0.00s -> 9.40s */
    0.00%,
    61.44% {
        scale: 1;
    }

    /* 9.60s */
    62.75% {
        scale: 0.6;
    }

    /* 9.80s -> 10.00s */
    64.05%,
    65.36% {
        scale: 1;
    }

    /* 10.20s */
    66.67% {
        scale: 0.6;
    }

    /* 10.40s -> 100% */
    67.97%,
    100% {
        scale: 1;
    }
}

.instructions-container.keyboard-shortcuts .key.S {
    animation: s-key-anim var(--animDur) ease-in-out infinite;
}

@keyframes q-key-anim {

    /* 0.00s -> 10.90s */
    0.00%,
    71.24% {
        scale: 1;
    }

    /* 11.var(--animDur) */
    72.55% {
        scale: 0.6;
    }

    /* 11.30s -> 100% */
    73.86%,
    100% {
        scale: 1
    }
}

.instructions-container.keyboard-shortcuts .key.Q {
    animation: q-key-anim var(--animDur) ease-in-out infinite;
}

@keyframes e-key-anim {

    /* 0.00s -> 11.80s */
    0.00%,
    77.12% {
        scale: 1;
    }

    /* 12.00s */
    78.43% {
        scale: 0.6;
    }

    /* 12.20s -> 100% */
    79.74%,
    100% {
        scale: 1
    }
}

.instructions-container.keyboard-shortcuts .key.E {
    animation: e-key-anim var(--animDur) ease-in-out infinite;
}

@keyframes r-key-anim {

    /* 0.00s -> 12.30s */
    0.00%,
    80.39% {
        scale: 1;
    }

    /* 12.50s */
    81.70% {
        scale: 0.6;
    }

    /* 12.70s -> 13.20s */
    83.01%,
    86.27% {
        scale: 1;
    }

    /* 13.40s */
    87.58% {
        scale: 0.6;
    }

    /* 13.60s -> 100% */
    88.89%,
    100% {
        scale: 1;
    }
}

.instructions-container.keyboard-shortcuts .key.R {
    animation: r-key-anim var(--animDur) ease-in-out infinite;
}


@keyframes left-note-anim {

    /* 0.00s -> 2.10s */
    0.00%,
    13.73% {
        opacity: 0;
        scale: 1;
        fill: black
    }

    /* 2.11s -> 2.99s */
    13.79%,
    19.54% {
        opacity: 1;
        scale: 1;
        fill: black
    }

    /* 3.00s -> 3.30s */
    19.61%,
    21.57% {
        opacity: 1;
        scale: 1.2;
        fill: black
    }

    /* 3.31s -> 3.79s */
    21.63%,
    24.77% {
        opacity: 1;
        scale: 1.2;
        fill: var(--tertiary-accent)
    }

    /* 3.80s -> 100% */
    24.84%,
    100% {
        opacity: 0;
        scale: 1;
        fill: black
    }
}

.instructions-container.keyboard-shortcuts .mock-note.L {
    animation: left-note-anim var(--animDur) ease-in-out infinite;
}

@keyframes right-note-anim {

    /* 0.00s -> 5.40s */
    0.00%,
    35.29% {
        opacity: 0;
        scale: 1;
        fill: black
    }

    /* 5.41s -> 6.10s */
    35.36%,
    39.87% {
        opacity: 1;
        scale: 1;
        fill: black
    }

    /* 6.11s -> 6.39s */
    39.93%,
    41.76% {
        opacity: 1;
        scale: 1.2;
        fill: black
    }

    /* 6.40s -> 6.89s */
    41.83%,
    45.03% {
        opacity: 1;
        scale: 1.2;
        fill: var(--tertiary-accent)
    }

    /* 6.90s -> 100% */
    45.10%,
    100% {
        opacity: 0;
        scale: 1;
        fill: black
    }
}

.instructions-container.keyboard-shortcuts .mock-note.R {
    animation: right-note-anim var(--animDur) ease-in-out infinite;
}

@keyframes middle-note-anim {

    /* 0.00s -> 1.50s */
    0.00%,
    9.80% {
        scale: 1;
        fill: black;
    }

    /* 1.51s -> 1.79s */
    9.87%,
    11.70% {
        scale: 1.2;
        fill: black;
    }

    /* 1.80s -> 3.29s */
    11.76%,
    21.50% {
        scale: 1.2;
        fill: var(--tertiary-accent);
    }

    /* 3.30s -> 4.49s */
    21.57%,
    29.35% {
        scale: 1;
        fill: black;
    }

    /* 4.50s -> 4.89s */
    29.41%,
    31.96% {
        scale: 1.2;
        fill: black;
    }

    /* 4.90s -> 6.39s */
    32.03%,
    41.76% {
        scale: 1.2;
        fill: var(--tertiary-accent)
    }

    /* 6.40s -> 7.49s */
    41.83%,
    48.95% {
        scale: 1;
        fill: black;
    }

    /* 7.50s -> 7.79s */
    49.02%,
    50.92% {
        scale: 1.2;
        fill: black;
    }

    /* 7.80s -> 15.var(--animDur) */
    50.98%,
    98.95% {
        scale: 1.2;
        fill: var(--tertiary-accent)
    }

    /* 15.15s -> 100% */
    99.02%,
    100% {
        scale: 1;
        fill: black;
    }
}

.instructions-container.keyboard-shortcuts .mock-note.M {
    animation: middle-note-anim var(--animDur) ease-in-out infinite;
}