.player {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-accent);
    border-radius: 20px;
    padding: 20px 40px;
    gap: clamp(10px, 20%, 40px);
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.player svg {
    min-height: 25px;
    min-width: 25px;
    transition: transform 0.2s ease;
}

.player svg.disabled {
    color: var(--tertiary-text);
    cursor: auto;
}

.player svg:hover:not(.disabled) {
    transform: scale(1.5);
}

.player svg:active:not(.disabled) {
    transform: scale(0.5);
}

.player div {
    display: flex;
    align-items: center;
}

.player svg.metronome,
.player svg.microphone {
    min-height: 40px;
    min-width: 40px;
    padding: 5px;
    border: 2px var(--primary-text) solid;
    border-radius: 6px;
    transform: scale(1);
    transition: transform 0.2s ease, background-color 0.1s ease, color 0.1s ease;
}

.player svg.metronome:hover,
.player svg.microphone:not(.disabled):hover {
    transform: scale(1.25);
}

.player svg.metronome:active,
.player svg.microphone:not(.disabled):active {
    transform: scale(0.5);
}

.player svg.metronome.on,
.player svg.microphone.on {
    background-color: var(--primary-text);
    color: var(--primary-accent);
}

.player svg.microphone.disabled {
    color: var(--tertiary-accent);
    border: 2px var(--tertiary-accent) solid;
}

.volume-container {
    display: flex;
    align-items: center;
    width: 150px;
    gap: 10px;
    min-width: 150px;
}

.volume-slider {
    appearance: none;
    box-shadow: none;
    height: 4px;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.volume-slider::-webkit-slider-runnable-track {
    background-color: var(--primary-text);
    height: 2px;
    border-radius: 3px;
}

/* google/safari/edge */
.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -5px;
    width: 14px;
    height: 14px;
    border-radius: 999px;
    background: var(--primary-text);
    transition: transform 0.1s ease;
}

.volume-slider::-webkit-slider-thumb:hover {
    margin-top: -5px;
    transform: scale(1.2);
    background: var(--primary-text);
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}